renv
/meta/
*.h5ad
*.bam
*.bigwig
/.DS_Store
*.xls
*.pdf
*.xls
*.xlsx
*.pdf
*.Rhistory
/.dir-locals.el
._*.*
._*
.scala-build
/.bsp/
/.metals/
/project/target/
/target/
/.idea/
/project/project/
/project/.bloop/
/project/metals.sbt
/.bloop/
/.sbt-hydra-history
/tmp/
/node_modules/
/package-lock.json
/package.json
.nfs*
*.pyc
/tmpPypkg/_integration/
*.png
/test/
*.zst
/lib/
/.vscode/
/.RData
*.so
*.o
*.done
*.log
*.tmp
.Rproj.user
*.txt
/test
.#*.scala
.DS_Store
*.class
*.tasty
*.semanticdb
/target
/src/main/resource/
/src/test/resources/*
*.rds
